img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.login {
  margin-top: 10%;
  margin-bottom: 19%;
}

.register {
  margin-top: 4%;
  margin-bottom: 11%;
}

.welcome{
  margin-bottom: 25.2%;
}

.spin {
  margin-bottom: 25%;
}

.pose {
  position: absolute;
  bottom: 2px;
}

@media only screen and (max-width: 600px) {
    .avatarfeed {
      width: 22%;
      height: 83%;
      align-self: center
    }
    .avatarprofile {
      width: 200%;
      height: 40%;
    }
    .login {
      margin-top: 25%;
      margin-bottom: 50%;
    }
    .spin {
      margin-bottom: 62%;
    }
    .register {
      margin-top: 4%;
      margin-bottom: 15%;
    }
    .ptext {
      font-size: 109%;
    }
    .dash {
      padding-left: 8px;
      padding-right: 8px;
    }
    .postname {
      position: absolute;
      left: 26%;
      top: 19%;
    }
    .pose{
      position: relative;
    }
    .post {
      margin-bottom: 5px;
    }
}